body{
    margin: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: #5c0d5c;
}

.avatar{
    width: 140px;
    border-radius: 8px;
}

.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #c43597;
    color: #141214;
    border-bottom: 7px solid #943494;
    
}